services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cuca_pizzaria_app
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
      - ./docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - pizzaria-network
    depends_on:
      db:
        condition: service_healthy

  nginx:
    image: nginx:alpine
    container_name: cuca_pizzaria_nginx
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - pizzaria-network
    depends_on:
      - app

  db:
    image: mysql:5.7
    container_name: cuca_pizzaria_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: pizzaria_do_cuca
      MYSQL_ROOT_PASSWORD: root
      MYSQL_PASSWORD: root
      MYSQL_USER: pizzaria_user
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - pizzaria-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-proot"]
      interval: 5s
      timeout: 3s
      retries: 10

networks:
  pizzaria-network:
    driver: bridge

volumes:
  db_data:
    driver: local

